# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore environment files
.env
.env.*

# SQLite database backups
*.sqlite3.bak

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore other common files
*.log
*.pot
*.pyc
